a {
    @apply text-gray-700 no-underline;
    transition: text-decoration 300ms ease, color 300ms ease;
}

a:hover, a:focus {
    @apply underline text-gray-500;
}
a:active, a:visited {
    @apply text-gray-700;
}

h1 ,h2, h3, h4, h5, h6 {
    @apply font-normal text-base leading-normal m-0;
}

.visually-hidden { 
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.skip-link {
    left: 0;
    top: -24px;
    transition: top 300ms ease;
    &:focus {
        top: 0;
        color: #fff;
        text-decoration: none;
    }
    &:hover,
    &:active,
    &:visited {
        color: #fff;
        text-decoration: none;
    }
}

.gutter,
.footer-menu li {
    @apply px-3;
}

@screen lg {
    .gutter,
    .footer-menu li  {
        @apply px-6;
    }
}

.main-menu {
    top: 24px;
}

@screen sm {
    .main-menu li {
        @apply pl-6;
    }
}

.card-link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.title-1 {
    @apply font-sans text-xl uppercase tracking-wider leading-none;
}

.title-2 {
    @apply font-sans text-2xl font-bold;
}

.comma-list-item {
    padding-right: 8px;
    & a:after {
        content: ", ";
    }

    &:last-child a:after {
        content: "";
    }
}

.content-project {
    &__image {
        width: 100%;
        height: 0;
        padding-bottom: 66.66%;
    }
    
    &:hover .content-project__image img {
        transform: scale(1.05);
    }

    &__texts {
        background-color: rgba(255, 255, 255, 0.6);
        transition: opacity, box-shadow;
    }

    &:focus-within .content-project__texts {
        @apply shadow-xl opacity-100;
    }

    a,
    a:hover {
        @apply text-black;
    }
}

.project-hero {
    padding-top: 50%;
}
